---
import Aside from '../../../components/Aside.astro';
import NavBarBlog from '../../../components/NavBarBlog.astro';
import Layout from '../../../layout/Layout.astro';
import Article from '../../../components/Article.astro';
import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const DEFAULT_CATEGORIES = ['html', 'css', 'react', 'javascript'];

  const posts = (await getCollection('blog')) as unknown as CollectionEntry<'blog'>[];
  const categories: string[] = posts.flatMap(p => p.data.categories);
  const uniqueCategories: string[] = [...new Set([...DEFAULT_CATEGORIES, ...categories])];

  return uniqueCategories.map(tag => ({ params: { category: tag }, props: { articles: posts } }));
}

const { category } = Astro.params as { category: string };
const { articles } = Astro.props as { articles: CollectionEntry<'blog'>[] };

const filterArticles = articles.filter(p => p.data.categories.includes(category));

const title = `Articulos de ${category}`;
---

<Layout title={title} description={title}>
  <NavBarBlog />
  <main class="mt-9 mb-5">
    <div class="md:flex gap-5 items-start">
      <div class="md:w-8/12">
        <div class="h-[70px] bg-primary-900 bg-opacity-10 rounded relative overflow-hidden">
          <span
            class="absolute w-full text-9xl text-primary-900 opacity-10 left-2 top-[50%] -translate-y-[50%] font-black select-none"
            >#</span
          >
          <h3
            class="text-primary-900 text-2xl font-extrabold absolute left-10 w-full top-[50%] -translate-y-[50%]">
            {category.toUpperCase()}
          </h3>
        </div>
        <section class="mt-5">
          {
            filterArticles.length === 0 && (
              <p class="text-xl">Aún no tenemos artículos con esta temática :(</p>
            )
          }

          {
            filterArticles.map(article => (
              <Article
                href={'/blog/posts/' + article.slug}
                title={article.data.title}
                created={article.data.created}
                image={article.data.image}
                categories={article.data.categories}
              />
            ))
          }
        </section>
      </div>
      <Aside />
    </div>
  </main>
</Layout>
