---
interface Props {
  href: string;
  title: string;
  created: string;
  image: string;
  categories: string[];
}
const { href, title, created, image } = Astro.props as Props;
const newDate = new Date(created).toLocaleDateString('es-us', {
  day: 'numeric',
  month: 'long',
  year: 'numeric',
});
---

<a
  href={href}
  class="group flex items-center gap-3 md:gap-4 hover:bg-gray-100 p-2 transition-all cursor-pointer">
  <div class="w-[90px] md:w-[60px]">
    <img
      src={image}
      alt={title}
      class="w-full group-hover:scale-105 transition-transform duration-300"
    />
  </div>
  <div class="grow">
    <div class="md:mb-1">
      <h3 class="text-sm md:text-xl font-bold mb-[2px] md:mb-1 leading-5">
        {title}
      </h3>
      <span class="text-sm text-primary-700">{newDate}</span>
    </div>
  </div>
</a>
