---
import { Button } from '../react/Button';
interface Props {
  name: string;
  description: string;
  technologies: string[];
  project: string;
  github: string;
}

const { name, description, technologies, project, github } = Astro.props;
---

<article
  class="bg-white border border-3 border-primary-900 drop-shadow-[10px_10px_0px_rgba(66,119,255,100%)] px-5 py-6 rounded-md hover:drop-shadow-none transition-all">
  <div class="mb-5">
    <h4 class="font-bold text-2xl text-primary-900 mb-[10px]">{name}</h4>
    <ul class="flex gap-2">
      {
        technologies.map(t => (
          <li class="bg-secondary text-xs rounded-lg px-2 text-white">{t}</li>
        ))
      }
    </ul>
  </div>
  <div>
    <p class="mb-5 text-sm md:text-base">
      {description}
    </p>

    <div class="flex gap-4">
      <Button
        client:load
        href={project}
        text="Ver demo"
        type="primary"
        target="_blank"
      />

      <Button
        client:load
        href={github}
        text="Ver código"
        type="secondary"
        target="_blank"
      />
    </div>
  </div>
</article>
